{% extends 'AwesomeBundle::layout.html.twig' %}

{% block title %}
    page - {{ parent() }}
{% endblock title %}
{% block content %}
<h3>Page 1</h3>
 home - {{ name }}
{% endblock content %}

